{% extends 'base.html' %}
{% block title %}{{ task.title }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_edit' task.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'delete_view' task.pk %}">Удалить задачу</a>
    </li>
{% endblock %}
{% block body %}
    <div class="col col-xl-3 mb-3">
        <div class="card h-100" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p>{{ task.description }}</p>
                <div class="d-flex">
                    <p class="fw-bold">Статус:</p>
                    <p class="ms-auto">{{ task.status }}</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Тип:</p>
                    <p class="ms-auto">
                        {% for type in task.types.all %}
                            {{ type.type }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Создан:</p>
                    <p class="ms-auto">{{ task.created_at }}</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Изменен:</p>
                    <p class="ms-auto">{{ task.updated_at }}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

