{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-5 text-primary">Список задач</h1>
        </div>
    </div>
    <div class="row">
        {% for task in tasks %}
            <div class="col col-xl-3 mb-3">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.pk }}. {{ task.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ task.created_at }}</h6>
                        <div class="d-flex">
                            <p class="fw-bold">Статус:</p><p class="ms-auto">{{ task.status }}</p>
                        </div>
                        <div class="d-flex">
                            <p class="fw-bold">Тип:</p>
                            <p class="ms-auto">
                                {% for type in task.types.all %}
                                    {{ type.type }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <a href="{% url "task_view" task.pk %}">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
