{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock title %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:update_user' %}">Редактировать профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:user_profile' user.pk %}">Назад</a>
    </li>
{% endblock nav %}
{% block body %}
    <h1>Смена пароля</h1>
    <form method="post">
        {% include 'partial/form.html' %}
    </form>
{% endblock body %}